{% extends "layout.html" %}

{% block content %}

<br />
<div style="float:left;width: 35%; height: 100%; display: inline-block">
    <iframe style="width:110%;height:300px"src="{{ "https://www.youtube.com/embed/" + movie['videos'][0]['key'] }}">
    </iframe>
</div>

<div style="float:right;width: 60%; height: 100%; display: inline-block">
    <p class="recommend_text" style="font-size:xx-large">{{ movie['title']}}<br /></p>
    
    {{ release_year }}  | {{ movie['runtime'] }}  min | {{ genres }} | {{ movie['release_date'] }} | {{ movie['original_language'] }}
    <br />
    <br />
    <img src="../static/pictures/imdb-logo.png"  style="width: 6%; height: 4%; margin-right: 10px; margin-bottom: 7px;" >  <span class="movie_details_scores" style="margin-right: 10px;"> {{  movie['imdbRating']  }}/10.0 </span>
    <img src="../static/pictures/metacritic-logo.png" style="width:12%; height: 3.5%; margin-right: 10px; margin-bottom: 7px;" /> <span class="movie_details_scores" style="margin-right: 10px;"> {{  movie['metascore']  }}/100 </span>
    <img src="../static/pictures/rotten-tomatoes-logo.png" style="width:6%; height: 6%; margin-right: 10px; margin-bottom: 7px;" /><span class="movie_details_scores" style="margin-right: 10px;"> {{  movie['tomatoMeter']  }}/100 </span>
    <img src="../static/pictures/tmdb-logo.png" style="width: 16%; height: 5%; margin-right: 10px; margin-bottom: 7px;" /><span class="movie_details_scores" style="margin-right: 10px;"> {{  movie['tmdb_vote_average']  }}/10.0 </span>
    <hr /> 
    <span class="detail_body" style="font-size:large">
        {{ movie['overview'] }}
        <br />
        <br />
        <b>Director:</b>
        {% for director in movie['crew'] %}
        {{ director['name'] }}
        {% endfor %}
        <br />
        <b>Actors:</b>
        {% for actor in movie['cast'] %}
        {{ actor['name'] }},
        {% endfor %}
        <br />
    </span>
</div>

<style>
#footer {
    display: inline-block;
    width: 100%;
}

#layout_hr {
    display: inline-block;
    width: 100%;
}

.movie_details_scores {
    font-family: "League Gothic";
    font-size: x-large;
    color: #91c0e1;
    text-align: center;
}

.detail_body{

    font-size:large;
    text-shadow: #030507 3px 3px 0;
}

</style>

{% endblock %}



{% block scripts %}

{% endblock %}
