{% extends "layout.html" %}

{% block content %}

<br />
<div style="float:left;margin-right:20px">
    <img src="{{ movie['tmdb_poster_path'] }}" />
</div>

<div class="details">
    <ul>
        <br />
        <li>Title: {{ movie['title']}}</li>
        <li>Original language: {{ movie['original_language'] }}</li>
        <li>Tagline: {{ movie['tagline'] }}</li>
        <li>Tmdb vote average: {{ movie['tmdb_vote_average'] }} </li>
        <li>Runtime: {{ movie['runtime'] }} </li>
        <li>Revenue: {{ movie['revenue'] }} </li>
        <li>Overview: {{ movie['overview'] }}</li>
        <br />
    </ul>
</div>

{% endblock %}



{% block scripts %}

{% endblock %}
