{% extends "layout.html" %}

{% block content %}

<br />
<div id="owl-demo">
    {% autoescape false %}
    {{ posters }}
    {% endautoescape %}
</div>

<style>
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
</style>

{% endblock %}



{% block scripts %}

<script>
    // Custom click event: detail view
    function detailView(id) {
        window.open(id, "_self")
    }
</script>

{% endblock %}
    