{% extends "layout.html" %}

{% block content %}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div style="float:left; width: 40%;">
    <div class="container" style="margin-top:13%; margin-left:30%;">
        <div class="row">
            <div class="col-lg-3 col-sm-6" style="width:inherit">
                <div class="card hovercard">
                    <div class="cardheader" style="background: url('{{ user_data['cover']['source'] }}')">
                    </div>
                    <div class="avatar">
                        <img alt="" src="{{ profile_picture }}">
                    </div>
                    <div class="info">
                        <div class="title" style="color: white">
                            {{ user_data['name']}}
                        </div>
                        <div class="desc">Another great</div>
                        <div class="desc">Movie Guru user</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="container" style="float:right; width: 100%; min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto; margin-right: 6%; margin-top: 2%"></div>

<div style="margin-top: 40%; display: block">
    <div id="owl-demo">
        {% for movie in movies %}
        <div class="item"><img class="movie" onclick="detailView(this.id)" id="{{ movie['imdb_id'] }}" src="{{ movie['tmdb_poster_path'] }}" title="{{ movie['title'] }}"></div>
        {% endfor %}
    </div>
</div>

<style>
    #owl-demo .item {
        margin: 3px;
    }

        #owl-demo .item img {
            display: block;
            width: 100%;
            height: auto;
        }

    .movie {
        cursor: pointer;
    }
</style>

{% endblock %}



{% block scripts %}

<script src="/static/scripts/detail-view.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="/static/scripts/highchart.js"></script>

{% endblock %}
