{% extends "layout.html" %}

{% block content %}

<br /><br /><br />
<div id="owl-demo">
    {% for movie in rec_movies %}
    <div class="item"><img onclick="detailView(this.id)" id="{{ movie['imdb_id'] }}" src="{{ movie['tmdb_poster_path'] }}" title="{{ movie['title'] }}"></div>
    {% endfor %}
</div>

<div style="text-align: center">
    <img border="0" alt="MovieGuru" align="middle" src="/static/pictures/movie-guru2.png" width="250" height="250">
</div>

<style>
    #owl-demo .item {
        margin: 3px;
    }

        #owl-demo .item img {
            display: block;
            width: 100%;
            height: auto;
        }
</style>


{% endblock %}



{% block scripts %}

<script src="/static/scripts/detail-view.js"></script>

{% endblock %}
